.movie-poster {
  height: 60vh;
  text-align: center;

  @media screen and (min-width: 576px) {
    height: 40vh;
  }

  h4 {
    height: 25%;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  img {
    height: 75%;
  }
}
