<div class="row" *ngIf="movie && !showSpinner">
  <div class="col-lg-4">
    <h3>{{movie.title}}</h3>
    <p><strong>{{movie.category | uppercase}}</strong></p>
    <p>{{movie.year}}</p>
    <img class="loaded-movie" src="{{movie.poster}}" alt="{{movie.title}}">
  </div>
  <div class="col-lg-8">
    <div class="form-group">
      <input
        type="text"
        class="form-control"
        [(ngModel)]="newRule">
    </div>
    <div class="form-group">
      <button
        class="btn btn-outline-success"
        (click)="onAddRule()"
        [disabled]="!newRule"
        type="button">Add Rule</button>
    </div>
    <ul class="list-group">
      <li
        class="list-group-item"
        [ngClass]="{'list-group-item-dark': i%2 === 0}"
        *ngFor="let rule of rulesArray;
        let i=index">{{rule}}
        <button
          type="button"
          class="close"
          aria-label="Close"
          (click)="onRemoveRule(i)">
          <span aria-hidden="true">&times;</span>
        </button>
      </li>
    </ul>
  </div>
</div>

<div *ngIf="showModal">
  <app-modal
    [newMovie]="movie"
    (sendKey)="onNewMovie($event)"></app-modal>
</div>

<div *ngIf="showSpinner">
 <app-spinner></app-spinner>
</div>
