<div class="row" *ngIf="movie && !showSpinner">
  <div class="col-lg-4">
    <h1>{{movie.title}}</h1>
    <p><strong>{{movie.category | uppercase}}</strong></p>
    <p>{{movie.year}}</p>
    <img class="loaded-movie" src="{{movie.poster}}" alt="{{movie.title}}">
  </div>
  <div class="col-lg-8">
    <div class="form-group">
      <input
        type="text"
        class="form-control"
        [(ngModel)]="newRule.rule">
    </div>
    <div class="form-group">
      <button
        class="btn btn-outline-success"
        (click)="onAddRule()"
        [disabled]="!newRule"
        type="button">Add Rule</button>
    </div>
    <app-movie-rules
      [movie]="movie"
      [movieFBKey]="movieFBKey"
      [rulesArray]="rulesArray"
      [userInfo]="userInfo"></app-movie-rules>
    <button
      type="button"
      class="btn btn-outline-success"
      style="margin-top: 15px"
      (click)="onWatchMovie()">Game Played</button>
  </div>
</div>

<div *ngIf="showModal">
  <app-modal
    [newMovie]="movie"
    (sendKey)="onNewMovie($event)"></app-modal>
</div>

<div *ngIf="showSpinner">
 <app-spinner></app-spinner>
</div>
