<div class="row" *ngIf="movie && !showSpinner">
  <div class="col-lg-4">
    <h3>{{movie.title}}</h3>
    <p>{{movie.year}}</p>
    <img src="{{movie.poster}}" alt="{{movie.title}}">
  </div>
  <div class="col-lg-8">
    <div class="form-group">
      <input type="text" class="form-control" [(ngModel)]="newRule">
    </div>
    <div class="form-group">
      <button class="btn btn-outline-success" (click)="onAddRule()">Add Rule</button>
    </div>
    <ul>
      <li *ngFor="let rule of movie.rules">{{rule}}</li>
    </ul>
  </div>
</div>

<div *ngIf="showSpinner">
 <app-spinner></app-spinner>
</div>
