.mainBottom {
  min-height: 100vh;
  padding: 0;

  .mainContent {
    min-height: 90vh;
    width: 100%;
  }

  hr {
    margin-bottom: 0;
  }

  .sidebar {
    border-right: 1px solid #eee;
  }

  .mainBody {
    padding: 2rem;
  }
}

.add-movie-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(220, 220, 220, 0.6);
}
