<div class="row">
  <div class="col-12 col-md-8">
    <div class="form-group">
      <label for="movieName">Enter Movie Title</label>
      <input
        id="movieName"
        class="form-control"
        name="movieName"
        type="text"
        #searchBox
        (input)="search(searchBox.value)"
        ngModel/>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <ul class="movies-list">
      <li
        class="movie" *ngFor="let movie of movies$ | async"
        (click)="loadMovie(movie.id)">
        <app-movie [movie]="movie"></app-movie>
      </li>
    </ul>
  </div>
</div>
